<table border="0">
	<tr>
		<th>Index</th>
		<th>Title</th>
		<th>Photo</th>
		<th>City</th>
		<th>Power</th>
		<th>Movies Total</th>
	</tr>
	<tr ng-repeat="hero in data.heros">
		<th>{{hero.id }}</th>
		<th>{{hero.title }}</th>
		<th><img ng-src="{{ hero.photo }}" width="50" align="absmiddle"/></th>
		<th>{{hero.city}}</th>
		<th><input type="range" min="1" max="10" ng-model="hero.power"/></th>
		<th><a href="#/movies/{{hero.id}}">Total Movies {{ hero.movies }}</a></th>
	</tr>
</table>
<h1>{{message}}</h1>
<h1>{{version}}</h1>

<h1>{{constMessage}}</h1>
<h1>{{consVersion}}</h1>